xml/3/drzavaSema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="drzava">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="naziv" type="xs:string" />
                <xs:element name="glavniGrad" type="xs:string" />
                <xs:element name="opis" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="oznakaDrzave" type="xs:string" />
        </xs:complexType>
    </xs:element>
</xs:schema>